@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@* <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        
    </div>
</div> *@

<div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
        <div class="col-md-12 col-lg-12 col-xxl-6">
            <div class="card mb-0">
                <div class="card-body">
                    <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                        <img src="~/images/logos/dark-logo.svg" width="180" alt="">
                    </a>
                    <p class="text-center">Create a new account.</p>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="mb-3">
                            <label asp-for="Input.FirstName" class="form-label">First Name</label>
                            <input class="form-control" asp-for="Input.FirstName" aria-describedby="emailHelp">
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Input.LastName" class="form-label">Last Name</label>
                            <input class="form-control" asp-for="Input.LastName" >
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <input class="form-control" asp-for="Input.Email" aria-describedby="textHelp">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.DateOfBirth" class="form-label">Date Of Birth</label>
                            <input class="form-control" asp-for="Input.DateOfBirth" aria-describedby="textHelp">
                            <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <input class="form-control" asp-for="Input.Password" aria-describedby="emailHelp">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                            <input class="form-control" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <span asp-validation-for="Input.RoleName" class="text-danger"></span>
                        @foreach (var role in Model.RoleNames)
                        {
                            <div class="mb-2">
                                <input type="radio" class="form-check-input" id="rad-@role" asp-for="Input.RoleName" value="@role">
                                <label asp-for="Input.RoleName" class="form-check-label">@role</label>
                            </div>
                        }
                        <button id="registerSubmit" class="btn btn-primary w-100 fs-4 mb-4 rounded-2">Sign Up</button>
                        <div class="d-flex align-items-center justify-content-center">
                            <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                            <a class="text-primary fw-bold ms-2" asp-page="./Login">Sign In</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function() {
            $("#Input_DateOfBirth").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}

